{% extends 'layout.html' %}
{% load static %}

{% block style %}
<link href="{% static 'css/account-record.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
<main>
    <h2>Nuevo registro</h2>
    <section>
        <img src="{% static 'images/add-record.svg' %}" alt="Nueva cuenta de dinero" />
        {% if accounts|length == 0 %}
            <div id="info-message">
                <p class="empty"> Debe disponer de una cuenta para guardar el registro </p>
                <a class="button" href='{% url 'add-account' %}' id="log-in">Crear cuenta</a>
            </div>
        {% else %}
        <form autocomplete="off" id="add-record" method="POST" name="add-record" action="" autocomplete="off">
            {% csrf_token %}
            <div class="icon-input toggle">
                <input type="radio" id="expense" value="False" name="is-income" checked="checked" required />
                <label for="expense">Gasto</label>
                <input type="radio" id="income" value="True" name="is-income" required />
                <label for="income">Ingreso</label>
            </div>
            <div class="icon-input">
                <i class="fas fa-dollar-sign"></i>
                <input type="number" name="quantity" placeholder="Cantidad ($)" step="0.01" min="0.00" required />
            </div>
            <div class="icon-input">
                <i class="fas fa-list"></i>
                <select name="account" id="account" required>
                {% for account in accounts %}
                    <option> {{  account.name }} </option>
                {% endfor %}
                </select>
            </div>
            <div class="icon-input">
                <i class="fas fa-utensils"></i>
                <select name="category" id="category" required>
                {% for category in categories %}
                    <option> {{ category.category }} </option>
                {% endfor %}
                </select>
            </div>
            <div class="icon-input">
                <i class="fas fa-font"></i>
                <input type="text" name="description" placeholder="Concepto (opcional)" maxlength="50"/>
            </div>
            {% if error %}
            <p class="input-message">Asegúrate de que los campos sean válidos</p>
            {% endif %}
            {% if not_enough %}
                <p class="input-message">El dinero en la cuenta es insuficiente</p>
            {% endif %}
            {% if blank %}
                <p class="input-message" style="font-weight: 600; margin-top: 1rem;">* Se detectaron campos vacíos</p>
            {% endif %}
            <button type="submit" form="add-record">Añadir registro</button>
        </form>
        {% endif %}
    </section>
</main>
{% endblock %}
