{% extends 'layout.html' %}
{% load static %}

{% block style %}
<link href="{% static 'css/general.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
<main>
    <section id="accounts">
        <h2>Mis cuentas</h2>
        <div id="accounts-scroll">

        {% for account in accounts %}
            <a href="{% url 'account' account.id %}">

            {% if account.acc_type.id == 1 %}
                <div class="account-card general">
                    <img src="{% static 'images/account/general.png' %}" alt="Billetera con dinero" />
            {% elif account.acc_type.id == 2 %}
                <div class="account-card cash">
                    <img src="{% static 'images/account/money-bag.png' %}" alt="Dinero en efectivo" />
            {% elif account.acc_type.id == 3 %}
                <div class="account-card savings">
                    <img src="{% static 'images/account/savings.png' %}" alt="Alcancía de cerdito" />
            {% else %}
                <div class="account-card bank-card">
                    <img src="{% static 'images/account/credit-card.png' %}" alt="Tarjeta de crédito o débito" />
            {% endif %}

                    <p class="card-title">{{ account.name }}
                        <span>${{ account.current_balance }}</span>
                    </p>
                </div>
            </a>
        {% endfor %}

            <a href="{% url 'add-account' %}">
                <div id="add-account">
                    <i class="fas fa-plus"></i>
                    <p class="card-title">Añadir cuenta</p>
                </div>
            </a>
        </div>   
    </section>

    <section id="overview">
        <h2>Informe general</h2>
        <div id="overview-container">
            <div id="general-info">
                <div id="total">
                    <h3>Total</h3>
                    <p>${{ total }}</p>
                </div>
                <div id="top-categories">
                    <h3>Gastos principales</h3>
                    <div id="categories-container">
                        {% if top|length == 0%}
                            <p class="empty"> {{ norecords }}</p>
                        {% endif %}
                        {% for category in top %}
                        <div class="category">
                            {% if category.id == 1 %}
                                <div class="catogory-img">
                                    <img src="{% static 'images/categories/fast-food.png' %}" class="large-icon" alt="Hamburguesa y bebida" />
                                    <p class="sm-title">Comida y bebida</p>
                                </div>
                            {% elif category.id == 2 %}
                                <div class="catogory-img">
                                    <img src="{% static 'images/categories/shopping.png' %}" class="large-icon" alt="Bolsas de compras" />
                                    <p class="sm-title">Compras</p>
                                </div>
                            {% elif category.id == 3 %}
                                <div class="catogory-img">
                                    <img src="{% static 'images/categories/house.png' %}" class="large-icon" alt="Casa blanca" />
                                    <p class="sm-title">Vivienda</p>
                                </div>
                            {% elif category.id == 4 %}
                                <div class="catogory-img">
                                    <img src="{% static 'images/categories/car.png' %}" class="large-icon" alt="Vehículo color aqua" />
                                    <p class="sm-title">Transporte</p>
                                </div>
                            {% elif category.id == 5 %}
                                <div class="catogory-img">
                                    <img src="{% static 'images/categories/entertainment.png' %}" class="large-icon" alt="Caja de sorpresas" />
                                    <p class="sm-title">Entretenimiento</p>
                                </div>
                            {% elif category.id == 6 %}
                                <div class="catogory-img">
                                    <img src="{% static 'images/categories/message.png' %}" class="large-icon" alt="Celular con mensaje" />
                                    <p class="sm-title">Comunicaciones</p>
                                </div>
                            {% elif category.id == 7 %}
                                <div class="catogory-img">
                                    <img src="{% static 'images/categories/income.png' %}" class="large-icon" alt="Monedas color oro" />
                                    <p class="sm-title">Ingreso</p>
                                </div>
                            {% elif category.id == 8 %}
                                <div class="catogory-img">
                                    <img src="{% static 'images/categories/stonks.png' %}" class="large-icon" alt="Inversiones" />
                                    <p class="sm-title">Inversiones</p>
                                </div>
                            {% else %}
                                <div class="catogory-img">
                                    <img src="{% static 'images/categories/others.png' %}" class="large-icon" alt="Otras opciones" />
                                    <p class="sm-title">Otros</p>
                                </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div id="money-chart">

            </div>
        </div>
    </section>
    <section id="recent">
        <h2>Actividad reciente</h2>

        {% if recent_records|length == 0 %}
            <p class="empty"> {{ norecords }}</p>

        {% else %}
        <div id="recent-records">
        {% for record in recent_records %}
            <a href="{% url 'edit-record' record.id %}">
                <div class="record-card">
                {% if record.category.id == 1 %}
                    <div class="record-img">
                        <img src="{% static 'images/categories/fast-food.png' %}" alt="Hamburguesa y bebida" />
                    </div>
                {% elif record.category.id == 2 %}
                    <div class="record-img">
                        <img src="{% static 'images/categories/shopping.png' %}" alt="Bolsas de compras" />
                    </div>
                {% elif record.category.id == 3 %}
                    <div class="record-img">
                        <img src="{% static 'images/categories/house.png' %}" alt="Casa blanca" />
                    </div>
                {% elif record.category.id == 4 %}
                    <div class="record-img">
                        <img src="{% static 'images/categories/car.png' %}" alt="Vehículo color aqua" />
                    </div>
                {% elif record.category.id == 5 %}
                    <div class="record-img">
                        <img src="{% static 'images/categories/entertainment.png' %}" alt="Caja de sorpresas" />
                    </div>
                {% elif record.category.id == 6 %}
                    <div class="record-img">
                        <img src="{% static 'images/categories/message.png' %}" alt="Celular con mensaje" />
                    </div>
                {% elif record.category.id == 7 %}
                    <div class="record-img">
                        <img src="{% static 'images/categories/income.png' %}" alt="Monedas color oro" />
                    </div>
                {% elif record.category.id == 8 %}
                    <div class="record-img">
                        <img src="{% static 'images/categories/stonks.png' %}" alt="Inversiones" />
                    </div>
                {% else %}
                    <div class="record-img">
                        <img src="{% static 'images/categories/others.png' %}" alt="Otras opciones" />
                    </div>
                {% endif %}


                    <div class="category-record">
                        <p>{{ record.category.category }}</p>
                    </div>
                    <div class="quant-date">
                    {% if record.is_income %}
                        <p class="plus">+{{ record.quantity }}</p>
                    {% else %}
                        <p class="minus">-{{ record.quantity }}</p>
                    {% endif %}
                        <p class="date">{{ record.date }}</p>
                    </div>
                </div>
            </a>
        {% endfor %}
        </div>
        {% endif %}
    </section>
    <a href="{% url 'add-record' %}">
        <div id="floating-button">
            <i class="fas fa-plus"></i>
        </div>
    </a>
</main>

{% endblock %}