{% extends 'layout.html' %}
{% load static %}

{% block style %}
<link href="{% static 'css/general.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
<main>
    <section id="accounts">
        <h2>Mis cuentas</h2>
        <div id="accounts-scroll">

        {% for account in accounts %}
            <a href="{% url 'account' %}">

            {% if account.acc_type.id == 1 %}
                <div class="account-card general">
                    <img src="{% static 'images/account/general.png' %}" alt="Billetera con dinero" />
            {% elif account.acc_type.id == 2 %}
                <div class="account-card cash">
                    <img src="{% static 'images/account/money-bag.png' %}" alt="Dinero en efectivo" />
            {% elif account.acc_type.id == 3 %}
                <div class="account-card savings">
                    <img src="{% static 'images/account/savings.png' %}" alt="Alcancía de cerdito" />
            {% else %}
                <div class="account-card bank-card">
                    <img src="{% static 'images/account/credit-card.png' %}" alt="Tarjeta de crédito o débito" />
            {% endif %}

                    <p class="card-title">{{ account.name }}
                        <span>${{ account.current_balance }}</span>
                    </p>
                </div>
            </a>
        {% endfor %}

            <a href="{% url 'add-account' %}">
                <div id="add-account">
                    <i class="fas fa-plus"></i>
                    <p class="card-title">Añadir cuenta</p>
                </div>
            </a>
        </div>   
    </section>

    <section id="overview">
        <h2>Informe general</h2>
        <div id="overview-container">
            <div id="general-info">
                <div id="total">
                    <h3>Total</h3>
                    <p>${{ total }}</p>
                </div>
                <div id="top-categories">
                    <h3>Gastos principales</h3>
                    <div id="categories-container">
                        <div class="category">
                            <div class="catogory-img">
                                <img class="large-icon" src="{% static 'images/categories/fast-food.png' %}"
                                    alt="Dinero" />
                            </div>
                            <p class="sm-title">Efectivo</p>
                        </div>
                        <div class="category">
                            <div class="catogory-img">
                                <img class="large-icon" src="{% static 'images/categories/magic.png' %}" alt="Dinero" />
                            </div>
                            <p class="sm-title">Efectivo</p>
                        </div>
                        <div class="category">
                            <div class="catogory-img">
                                <img class="large-icon" src="{% static 'images/categories/car.png' %}" alt="Dinero" />
                            </div>
                            <p class="sm-title">Efectivo</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="money-chart">

            </div>
        </div>
    </section>
    <section id="recent">
        <h2>Registros recientes</h2>
        <div id="recent-records">
        {% for record in recent_records %}
            <a href="{% url 'edit-record' %}">
                <div class="record-card">
                {% comment %} Validaciones para imagenes y categorias {% endcomment %}
                    <div class="record-img">
                        <img src="{% static 'images/categories/presents.png' %}" alt="Dinero" />
                    </div>
                    <div class="category-record">
                        <p>Comestibles</p>
                    </div>

                    <div class="quant-date">
                    {% if record.is_income %}
                        <p class="plus">+{{ record.quantity }}</p>
                    {% else %}
                        <p class="minus">-{{ record.quantity }}</p>
                    {% endif %}
                        <p class="date">{{ record.date }}</p>
                    </div>
                </div>
            </a>
        {% endfor %}
        </div>
    </section>
    <a href="{% url 'add-record' %}">
        <div id="floating-button">
            <i class="fas fa-plus"></i>
        </div>
    </a>
</main>

{% endblock %}