{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link href="{% static 'css/layout.css' %}" rel="stylesheet">
    {% block style %}
    {% endblock %}
    <!-- To do {% block title %}{% endblock %} -->
    <title>My Money</title>
</head>

<body>
    <header>
        <div id="header-content">
            <div id="header-info">
                <a href="{% url 'index' %}" id="header-logo">
                    <img src="{% static 'images/logo.png' %}" alt="My Money App" />
                </a>
                <h1>My Money</h1>
            </div>
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Cerrar sesión</a>
            {% endif %}
        </div>
    </header>

    {% block body %}
    {% endblock %}

    <footer>
        <small>Todos los derechos reservados, 2021.</small>
    </footer>
</body>

</html>