{% extends 'user-layout.html' %}
{% load static %}

{% block style %}
    <link href="{% static 'css/login-sign.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
        <h2>Inicio de sesión</h2>
        <form id="login" method="POST" name="login" action="{% url 'log-in' %}">
            {% csrf_token %}
            <div class="icon-input">
                <i class="fas fa-user"></i>
                <input type="text" name="username" value="{{ username }}" placeholder="Usuario" required/>
            </div>
            <div class="icon-input">
                <i class="fas fa-lock"></i>
                <input type="password" name="password" placeholder="Contraseña" required/>
            </div>
            {% if failed and not blank and not banned %}
                <p class="input-message">Nombre de usuario o contraseña incorrectos</p>
            {% endif %}
            {% if banned %}
            <p class="input-message" style="font-weight: 600;">Tus peticiones han sido bloqueadas</p>
            {% endif %}
            <button type="submit" form="login" {{ submit }}>Ingresar</button>
            {% if blank %}
                <p class="input-message" style="font-weight: 600;">* Se detectaron campos vacíos</p>
            {% endif %}
        </form>
{% endblock %}