{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/not-found.css' %}" rel="stylesheet">
    <title>Error</title>
</head>
<body>
    <main>
        <h1>:(</h1>
        <h2>Ocurrió un error al realizar la solicitud</h2>
        <p>La página que deseas visitar no está disponible para usuarios anónimos.</p>
        <a class="button" href="{% url 'login' %}">Iniciar sesión</a>
    </main>
</body>
</html>