{% extends 'user-layout.html' %}
{% load static %}

{% block style %}
    <link href="{% static 'css/login-sign.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
        <h2>¡Crea una cuenta!</h2>
        <form id="sign-up" method="POST" name="sign-up" action="{% url 'sign-up' %}">
            {% csrf_token %}
            <div class="icon-input">
                <i class="fas fa-user"></i>
                <input type="text" name="username" placeholder="Nombre de usuario" required />
            </div>
            <div class="icon-input">
                <i class="fas fa-envelope"></i>
                <input type="email" name="email" placeholder="Correo electrónico" required />
            </div>
            <div class="icon-input">
                <i class="fas fa-lock"></i>
                <input type="password" name="password" placeholder="Contraseña" required />
            </div>
            <div class="icon-input">
                <i class="fas fa-lock"></i>
                <input type="password" name="confirm-password" placeholder="Confirmar contraseña" required />
            </div>
            <button type="submit" form="sign-up">Crear cuenta</button>
        </form>
{% endblock %}