@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

:root {
    --primary: rgb(153, 183, 238);
    --secondary: rgb(8, 2, 92);
    --background: rgb(255, 253, 247);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
}

* {
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
}

#header{
    height: 60px;
    background: var(--primary);
    color: white;

    padding: 1rem;
}

.module h2, .module caption, .inline-group h2 {
    background: var(--primary);
}

div.breadcrumbs {
    background-color: var(--secondary);
}

#nav-sidebar .current-model {
    background-color: rgb(255, 253, 228);
}

#header a:link, #header a:visited {
    color: #ffffff;
}

#branding h1{
    color: white;
}

.main > .content {
    background-color: #fff;
    border: none;
}

#nav-sidebar {
    border-top: none;
}

#user-tools {
    font-size: 0.8rem;
}

img.brand_img {
    width: 40px;
    height: 40px;
    
    margin-right: 0.75rem;
}