body {
    background-color: rgb(255, 253, 247);
}

main {
    padding: 2rem;
}

section {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    padding: 1.7rem;
    margin-bottom: 2rem;
    border-radius: 20px;
}

h2 {
    border-bottom: 1px gray solid;
    padding-bottom: 1rem;
    margin: 0.5rem 0 1.5rem 0;
}

h3 {
    margin: 0 0 1rem 0;
    font-size: 1.1rem;
    font-weight: 600;
}

a {
    text-decoration: none;
}

a:visited {
    color: #000;
}

div#accounts-scroll {
    display: flex;
    overflow-x: auto;
    gap: 2rem;
    padding: 0.5rem 0;
}

div.account-card, div#add-account {
    display: flex;
    min-width: 200px;
    height: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 1.5rem;
    transition: ease-in-out 0.2s;
}

div.account-card:hover, div#add-account:hover, 
div#floating-button:hover, div.record-card:hover {
    cursor: pointer;
    transform: scale(1.007);
    transition: all ease-in-out 0.2s;
}

div.cash {
    background-image: linear-gradient( 135deg, #79F1A4 10%, #196bc4 100%);
}

div.cash:hover {
    background-image: linear-gradient( 135deg, #63db8f 10%, #0E5CAD 100%);
}

div.savings {
    background-image: linear-gradient( 135deg, #F761A1 10%, #8C1BAB 100%);
}

div.savings:hover {
    background-image: linear-gradient( 135deg, #dd538f 10%, #8818a7 100%);
}

div.general {
    background-image: linear-gradient( 135deg, #43CBFF 10%, #9708CC 100%);
}

div.general:hover {
    background-image: linear-gradient( 135deg, #30b0e2 10%, #870eb3 100%);
}

div.bank-card {
    background-image: linear-gradient( 135deg, #FF9D6C 10%, #BB4E75 100%);
}

div.bank-card:hover {
    background-image: linear-gradient( 135deg, #eb8856 10%, #b1486d 100%);
}

div#add-account {
    background-image: linear-gradient(45deg, #bababa 0%, #d6d6d6 52%, #e0dede 100%);
}

div#add-account:hover {
    background-image: linear-gradient(25deg, #a8a8a8 0%, #c0c0c0 52%, #dadada 100%);
}

div#add-account .fa-plus {
    color: #fff;
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

p.card-title {
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 0.4rem;
    margin-bottom: 0;
}

p.card-title > span {
    font-size: 1.7rem;
    margin-top: 0.6rem;
    font-weight: 600;
}

div.account-card > img {
    width: 52px;
    margin-bottom: 0.3rem;
}

div#overview-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem;
}

div#general-info {
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
/* Reocordar utilizar clases para cada tipo de gradient */

div#money-chart {
    grid-column-start: 2;
    grid-column-end: 3;
    /* Depende del tamaño de la gráfica */
    height: 400px;
    padding: 1.5rem;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

div#total {
    display: grid;
    grid-template-columns: 2;
    padding: 1.5rem;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

div#total h3 {
    grid-column-start: 1;
    grid-column-end: 2;
}

div#total p {
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: right;
    margin: 0;
    font-size: 2.4rem;
    font-weight: 600;
}

div#top-categories {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

div#categories-container {
    display: flex;
    justify-content: space-evenly;
}

div.category {
    display: flex;
    align-items: center;
    flex-direction: column;
}

div.category-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

img.large-icon {
    width: 80px;
}

p.sm-title {
    color: #000;
    text-transform: uppercase;
    font-size: 0.85rem;
    margin-top: 1rem;
}

div#recent-records {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem;
}

div.record-card {
    display: flex;
    padding: 1rem;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: ease-in-out 0.2s;
}

div.record-card:hover {
    transform: scale(1.005);
}

div.record-img {
    display: flex;
    justify-content: center;
    flex: 0.6;
    align-items: center;
}

div.record-img img {
    width: 64px;
}

div.category-record {
    display: flex;
    flex: 2;
}

div.category-record p {
    margin: 0 0 0 1.2rem;
    text-align: left;
    font-weight: 600;
    font-size: 1.1;
}

div.quant-date {
    display: flex;
    flex: 2;
    justify-self: flex-end;
    flex-direction: column;
    justify-content: space-between;
}

div.quant-date p {
    margin: 0;
    text-align: right;
}

p.minus {
    color: rgb(201, 3, 42);
    font-weight: 700;
}

p.plus {
    color: rgb(0, 173, 58);
    font-weight: 700;
}

p.date {
    font-weight: 400;
}

div#floating-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: rgb(97, 209, 97);
    border-radius: 100px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

div#floating-button:hover {
    background-color: rgb(71, 175, 71);;
}


div#floating-button .fa-plus{
    color: #fff;
    font-size: 3rem;
}

@media only screen and (max-width: 768px) {
    div.account-card, div#add-account {
        min-width: 160px;
        height: 160px;
        padding: 1.3rem;
    }

    div#accounts-scroll {
        gap: 1.5rem;
    }
    
    p.total {
        font-size: 0.9rem;
    }

    p.total > span {
        font-size: 1.5rem;
    }

    p.card-title {
        font-size: 1rem;
    }
    
    p.card-title > span {
        font-size: 1.5rem;
        margin-top: 0.6rem;
        font-weight: 600;
    }

    img.large-icon {
        width: 55px;
    }

    div#recent-records {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    div#overview-container {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    div#general-info {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    
    div#money-chart {
        grid-column-start: 1;
        grid-column-end: 2;
    }
}

@media only screen and (max-width: 420px) {
    main {
        padding: 1rem;
    }
    
    div.catogory-rounded img {
        width: 30px;
    }

    div.catogory-rounded {
        padding: 1rem;
    }

    h3 {
        font-size: 1rem;
    }

    p.card-title {
        font-size: 0.8rem;
    }
    
    p.card-title > span {
        font-size: 1.3rem;
        margin-top: 0.5rem;
        font-weight: 500;
    }
    
    p.sm-title {
        color: #000;
        text-transform: uppercase;
        font-size: 0.75rem;
        margin-top: 1rem;
    }

    div#total p {
        font-size: 2rem;
    }

    div.record-img img {
        width: 50px;
    }

    div.account-card > img {
        width: 43px;
        margin-bottom: 0.3rem;
    }
}
