@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

:root {
    --primary: rgb(136, 170, 233);
}

* {
    font-family: 'Quicksand', sans-serif;
    color: white;

    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    background-color: var(--primary);
}

h1, h2 {
    text-align: center;
}

main {
    width: 90%;
    max-width: 750px;

    height: 100vh;

    margin: auto;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a.button {
    border: none;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 700;
    padding: 0.8rem 0.8rem;
    border-radius: 20px;
    text-decoration: none;
    background-color: rgb(8, 2, 92);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    color: white;

    transition: ease-in-out all 0.2s;
}

a.button:hover {
    cursor: pointer;
    background-color: rgb(59, 53, 145);
}

p {
    text-align: center;
}